.advantages-section {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.advantages-list{
    @extend %list;
    max-width: 100%;
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and (min-width:1200px) {
        max-width: 1170px;
    }
}

.advantages-list__item{
    @media screen and (max-width: 767px) {
        &:not(:last-child){
            margin-bottom: 30px;
            max-width: 450px;
        }
    }
    @media screen and (min-width:768px) {
        width: calc(100% / 2 - 15px);
        margin-right: 30px;
        margin-bottom: 30px;
        &:nth-child(2n){
            margin-right: 0px;
        }
        &:nth-last-child(-n + 2){
            margin-bottom: 0px;
        }
    }
    @media screen and (min-width:1200px) {
        max-width: 270px;
        &:not(:last-child){
            margin-right: 30px;
        }
    }
}

.advantages-list__icon-thumb{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
}

.advantages-list__icon{
    width: 70px;
    height: 70px;
}

.advantages-list__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: $black-important-color;
    @media screen and (min-width:768px) {
        text-align: left;
    }
}

.advantages-list__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}