/* footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
    @media screen and (max-width: 1199px) {
        text-align: center
    }
}

.footer__container{
    align-items: baseline;
    @media screen and (min-width:1200px) {
        display: flex;
    }
}

.tablet-flex{
    align-items: baseline;
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.footer__thumb{
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 50%;
    }
}

.contacts__list{
    @extend %list;
}

.contacts__location,
.contacts__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.contacts__location {
    margin-top: 20px;
    margin-bottom: 8px;
    color: $white-color;
    @media screen and (min-width: 1200px) {
        margin-bottom: 9px;
    }
}

.contacts__link {
    text-decoration: none;
    color: RGBA(255, 255, 255, 0.6);
    transition: color $time $cube;
    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.contacts__item:not(:last-child){
    margin-bottom: 8px;
    @media screen and (min-width: 1200px) {
        margin-bottom: 9px;
    }
}

.footer-social{
    @media screen and (max-width: 767px) {
        margin-top: 60px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 50%;
    }
    @media screen and(min-width: 1200px) {
        margin-left: 70px;
    }
    &__list{
            @extend %list;
        }
    &__text{
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $white-color;
    }
}
