.header-button-open{
    min-width: 40px;
    min-height: 40px;
    border: none;
    background-color: transparent;
    margin-left: auto;
    cursor: pointer;
    @media screen and (min-width: 767px) {
        display: none;
    }
    &:hover,
    &:focus{
        fill: $accent-color;
    }
}

.header__menu-icon{
    width: 24px;
    height: 16px;
}

.menu-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0px;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: #ffffff;
    z-index: 10;
    transform: translateX(100%);
    transition:  transform $time $cube;
}

.menu-container.is-open{
    transform: translateX(0);
}

.close-button{
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header__close-icon{
    width: 24px;
    height: 16px;
}

.menu-list,
.menu-contact-list,
.menu-social-list{
    @extend %list
}

.menu-list__item + .menu-list__item{
    margin-top: 32px;
}

.menu-list__link{
    padding: 10px;
    padding-left: 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
}

.menu-list__link--current{
    color: $accent-color;
}

.menu-contact-list__item + .menu-contact-list__item{
    margin-top: 32px;
    margin-bottom: 64px;
}

.menu-contact-list__tel{
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $accent-color;
}

.menu-contact-list__mail{
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
}

.menu-social-list{
    display: flex;
}

.menu-social-list__item{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;
    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        left: -10px;
        width: 1px;
        height: 22px;
        background-color: rgba(33, 33, 33, 0.2);
    }
}

.menu-social-list__item + .menu-social-list__item{
    position: relative;
    margin-left: 20px;
}


