.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    transition: opacity 600ms $cube, visability $time $cube;
    background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) perspective(400px) rotateX(60deg);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform $time $cube;
    width: 528px;
    min-height: 581px;
    padding: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal__button{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color $time $cube;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    &:hover,
    &:focus{
        color: $accent-color;
    }
}

.modal__icon{
    fill: currentColor;
}

.modal__title{
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $black-important-color;
}