/* our team */

.team-section {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    background-color: #f5f4fa;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.team-section__title {
    margin-bottom: 30px;
    font-weight: 700;
    line-height: 1.17;
    font-size: 28px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $black-important-color;
    @media screen and (min-width: 1200px) {
        padding-bottom: 50px;
        font-size: 36px;
    }
}

.team-list{
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    @media screen and (min-width: 768px) {
        margin-left: -30px;
    }
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        margin: 0;
    }
}

.team-list__item{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    background-color: $white-color;
    @media screen and (min-width: 768px) {
        margin-left: 30px;
        width: calc(100% / 2 - 30px);
    }
    @media screen and (min-width: 1200px) {
        margin: 0;
        &:not(:last-child){
                margin-right: 30px;
            }
    }
}

.team-list__image{
    width: 100%;
    height: auto;
}

.team-list__thumb{
    padding-top: 30px;
    padding-bottom: 24px;
    @media screen and (min-width: 1200px) {
        padding-bottom: 30px;
    }
}

.team-list__name {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    color: $black-important-color;
}
